In [44]:
import pandas as pd

df = pd.read_csv('data/서울교통공사 노선별 지하철역 정보.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   전철역코드     784 non-null    object
 1   전철역명      784 non-null    object
 2   전철명명(영문)  784 non-null    object
 3   호선        784 non-null    object
 4   외부코드      784 non-null    object
 5   전철명명(중문)  781 non-null    object
 6   전철명명(일문)  769 non-null    object
dtypes: object(7)
memory usage: 43.0+ KB

In [45]:
df

    전철역코드    전철역명            전철명명(영문)    호선  외부코드 전철명명(중문)     전철명명(일문)
0    0159     동묘앞             Dongmyo  01호선   127       ??       トンミョアプ
1    1727      두정             Dujeong  01호선  P168       斗井        トゥジョン
2    1821      온수                Onsu  01호선   145       ?水          オンス
3    1908      녹양             Nogyang  01호선   108       ??         ノギャン
4    1909      양주              Yangju  01호선   107       ?州         ヤンジュ
..    ...     ...                 ...   ...   ...      ...          ...
779  3135  지식정보단지            BIT Zone   인천선  I135   知?信息??  チシク·チョンボダンジ
780  3112      박촌             Bakchon   인천선  I112       朴村        パクチョン
781  3118    부평구청  Bupyeong-gu Office   인천선  I118     富平??     プピョングチョン
782  3119    부평시장     Bupyeong Market   인천선  I119     富平市場         富平市場
783  3120      부평            Bupyeong   인천선  I120       富平         プピョン

[784 rows x 7 columns]

In [46]:
df = df[['전철역명', '호선']]

df

       전철역명    호선
0       동묘앞  01호선
1        두정  01호선
2        온수  01호선
3        녹양  01호선
4        양주  01호선
..      ...   ...
779  지식정보단지   인천선
780      박촌   인천선
781    부평구청   인천선
782    부평시장   인천선
783      부평   인천선

[784 rows x 2 columns]

In [47]:
df['전철역명'].unique()

array(['동묘앞', '두정', '온수', '녹양', '양주', '지행', '탕정', '쌍용', '군포', '화서', '송내',
       '인천', '대방', '소사', '간석', '동두천중앙', '소요산', '전곡', '개봉', '세류', '병점',
       '오산대', '광명', '평택지제', '수원', '성균관대', '석수', '금천구청', '가산디지털단지', '신창',
       '도봉', '신도림', '가능', '청산', '창동', '금정', '동암', '안양', '연천', '온양온천',
       '오산', '서동탄', '주안', '덕계', '동두천', '방학', '성환', '평택', '구로', '덕정', '보산',
       '남영', '명학', '회기', '청량리', '역곡', '부천', '부평', '백운', '제물포', '동인천',
       '도원', '중동', '도화', '영등포', '제기동', '신설동', '동대문', '독산', '종로5가', '종로3가',
       '종각', '시청', '서울역', '당정', '신이문', '녹천', '의왕', '서정리', '구일', '신길',
       '월계', '광운대', '외대앞', '세마', '천안', '노량진', '용산', '아산', '도봉산', '망월사',
       '회룡', '의정부', '진위', '봉명', '석계', '관악', '직산', '오류동', '배방', '부개', '송탄',
       '을지로입구', '신답', '뚝섬', '을지로4가', '양천구청', '영등포구청', '신대방', '삼성', '아현',
       '종합운동장', '신림', '서초', '교대', '강남', '낙성대', '왕십리', '홍대입구', '구로디지털단지',
       '방배', '용두', '당산', '건대입구', '봉천', '충정로', '한양대', '서울대입구', '성수', '역삼',
       '선릉', '잠실', '대림', '잠실새내', '을지로3가', '구의', '사당', '신정네거리', '문래', '합정',
       '용답', '잠실나루', '강변', '상왕십리', '신당', '동대문역사문화공원', '까치산', '도림천', '이대',
       '신촌', '원흥', '안국', '충무로', '매봉', '동대입구', '대치', '학여울', '삼송', '화정',
       '대화', '옥수', '압구정', '신사', '경찰병원', '잠원', '대청', '오금', '백석', '주엽',
       '원당', '정발산', '대곡', '마두', '양재', '도곡', '고속터미널', '남부터미널', '일원', '수서',
       '가락시장', '약수', '지축', '구파발', '연신내', '불광', '녹번', '홍제', '무악재', '독립문',
       '경복궁', '금호', '숙대입구', '미아', '신길온천', '정왕', '인덕원', '회현', '오이도',
       '성신여대입구', '길음', '쌍문', '상계', '당고개', '별내별가람', '오남', '진접', '수리산',
       '총신대입구', '대공원', '평촌', '반월', '남태령', '한성대입구', '상록수', '명동', '노원',
       '신용산', '삼각지', '수유', '한대앞', '범계', '동작', '과천', '미아사거리', '정부과천청사',
       '중앙', '경마공원', '고잔', '산본', '이촌', '대야미', '혜화', '초지', '선바위', '안산',
       '발산', '애오개', '광나루', '우장산', '신정', '화곡', '양평', '하남풍산', '답십리', '아차산',
       '김포공항', '광화문', '서대문', '오목교', '목동', '송정', '개화산', '공덕', '마포', '여의나루',
       '여의도', '영등포시장', '군자', '장한평', '천호', '길동', '하남검단산', '하남시청', '마천',
       '마장', '행당', '거여', '신금호', '개롱', '방이', '올림픽공원', '둔촌동', '강일', '굽은다리',
       '고덕', '명일', '청구', '강동', '상일동', '미사', '방화', '마곡', '월곡', '구산', '새절',
       '증산', '디지털미디어시티', '월드컵경기장', '마포구청', '망원', '상수', '광흥창', '대흥',
       '효창공원앞', '녹사평', '이태원', '버티고개', '창신', '보문', '안암', '고려대', '상월곡',
       '돌곶이', '태릉입구', '봉화산', '신내', '한강진', '화랑대', '응암', '역촌', '독바위',
       '삼산체육관', '신중동', '굴포천', '부평구청', '석남', '춘의', '부천종합운동장', '까치울', '산곡',
       '천왕', '광명사거리', '하계', '남구로', '신풍', '보라매', '신대방삼거리', '장승배기', '상도',
       '숭실대입구', '남성', '이수', '내방', '논현', '강남구청', '청담', '자양', '어린이대공원',
       '철산', '학동', '반포', '사가정', '용마산', '중곡', '면목', '상봉', '중화', '먹골', '공릉',
       '중계', '마들', '수락산', '장암', '상동', '부천시청', '몽촌토성', '신흥', '강동구청',
       '단대오거리', '암사', '남한산성입구', '산성', '문정', '송파', '남위례', '석촌', '모란', '복정',
       '장지', '수진', '개화', '등촌', '염창', '신목동', '선유도', '국회의사당', '샛강', '노들',
       '흑석', '구반포', '신반포', '사평', '언주', '신논현', '선정릉', '석촌고분', '삼성중앙',
       '송파나루', '삼전', '한성백제', '증미', '둔촌오륜', '중앙보훈병원', '봉은사', '공항시장', '신방화',
       '마곡나루', '양천향교', '가양', '성남', '동탄', '세종대왕릉', '초월', '경기광주', '삼동',
       '이매', '여주', '이천', '판교', '부발', '곤지암', '신둔도예촌', '도심', '운길산', '덕소',
       '중랑', '양정', '도농', '임진강', '금릉', '양원', '문산', '운정', '야당', '탄현', '풍산',
       '신원', '지평', '백마', '곡산', '강매', '가좌', '서강대', '망우', '행신', '일산', '월롱',
       '파주', '운천', '한국항공대', '능곡', '용문', '팔당', '구리', '수색', '응봉', '원덕',
       '한남', '양수', '서빙고', '금촌', '오빈', '아신', '국수', '갈매', '가평', '김유정',
       '천마산', '평내호평', '상천', '백양리', '청평', '굴봉산', '강촌', '대성리', '사릉', '남춘천',
       '별내', '퇴계원', '마석', '춘천', '금곡', '인천공항1터미널', '인천공항2터미널', '검암', '영종',
       '운서', '계양', '청라국제도시', '공항화물청사', '구래', '사우', '걸포북변', '운양', '고촌',
       '장기', '마산', '풍무', '양촌', '원종', '선부', '시우', '원시', '달미', '신현', '신천',
       '시흥대야', '소새울', '시흥시청', '시흥능곡', '대모산입구', '압구정로데오', '미금', '구성', '야목',
       '한티', '오리', '죽전', '수내', '상갈', '월곶', '태평', '기흥', '오목천', '호구포', '송도',
       '신포', '야탑', '남동인더스파크', '인하대', '숭의', '영통', '개포동', '구룡', '연수', '원인재',
       '인천논현', '소래포구', '달월', '어천', '고색', '매교', '수원시청', '매탄권선', '망포', '청명',
       '신갈', '보정', '정자', '서현', '가천대', '사리', '서울숲', '당곡', '관악산', '서울대벤처타운',
       '서원', '보라매병원', '보라매공원', '서울지방병무청', '수지구청', '양재시민의숲', '청계산입구', '동천',
       '성복', '상현', '광교중앙', '광교', '동백', '보평', '전대.에버랜드', '둔전', '어정', '지석',
       '고진', '용인중앙시장', '김량장', '명지대', '시청.용인대', '삼가', '초당', '강남대', '북한산우이',
       '4?19민주묘지', '가오리', '화계', '삼양', '삼양사거리', '솔샘', '정릉', '북한산보국문',
       '솔밭공원', '경기도청북부청사', '발곡', '범골', '경전철의정부', '의정부시청', '의정부중앙', '동오',
       '새말', '효자', '곤제', '어룡', '송산', '탑석', '흥선', '검단사거리', '서부여성회관', '마전',
       '가정', '아시아드경기장', '독정', '완정', '검바위', '가정중앙시장', '인천가좌', '가재울',
       '주안국가산단', '시민공원', '남동구청', '인천대공원', '만수', '서구청', '왕길', '운연', '검단오류',
       '모래내시장', '석천사거리', '인천시청', '석바위시장', '인천대입구', '센트럴파크', '신연수', '임학',
       '국제업무지구', '테크노파크', '동춘', '동수', '캠퍼스타운', '간석오거리', '예술회관', '귤현',
       '인천터미널', '동막', '송도달빛축제공원', '부평삼거리', '계산', '문학경기장', '선학', '경인교대입구',
       '작전', '갈산', '지식정보단지', '박촌', '부평시장'], dtype=object)

In [55]:
import re

df2 = df.copy()

# 정규표현식으로 전철역명 변경
# '전철역명' 열의 문자열 끝에 '역'이 있는 경우 이를 제거
df2['전철역명'] = df2['전철역명'].apply(lambda x: re.sub('역$', '', x))

df2['전철역명'] = df2['전철역명'].apply(lambda x : re.sub('[?]','.',x))

df2['호선'] = df2['호선'].apply(lambda x: re.sub('^0', '', x))
# data['호선'] = data['호선'].apply(lambda x : x.replace('0',''))

df2

       전철역명   호선
0       동묘앞  1호선
1        두정  1호선
2        온수  1호선
3        녹양  1호선
4        양주  1호선
..      ...  ...
779  지식정보단지  인천선
780      박촌  인천선
781    부평구청  인천선
782    부평시장  인천선
783      부평  인천선

[784 rows x 2 columns]

In [56]:
df2[df2['전철역명']=='서울']

    전철역명    호선
73    서울   1호선
217   서울   4호선
506   서울   경의선
557   서울  공항철도

In [57]:
df2[df2['전철역명']=='4.19민주묘지']

         전철역명       호선
700  4.19민주묘지  우이신설경전철

In [58]:
df2['호선'].unique()

array(['1호선', '2호선', '3호선', '4호선', '5호선', '6호선', '7호선', '8호선', '9호선',
       'GTX-A', '경강선', '경의선', '경춘선', '공항철도', '김포도시철도', '서해선', '수인분당선',
       '신림선', '신분당선', '용인경전철', '우이신설경전철', '의정부경전철', '인천2호선', '인천선'],
      dtype=object)

In [59]:
df2['검색어'] = df2['전철역명'] + "역 " + df2['호선']

df2

       전철역명   호선          검색어
0       동묘앞  1호선     동묘앞역 1호선
1        두정  1호선      두정역 1호선
2        온수  1호선      온수역 1호선
3        녹양  1호선      녹양역 1호선
4        양주  1호선      양주역 1호선
..      ...  ...          ...
779  지식정보단지  인천선  지식정보단지역 인천선
780      박촌  인천선      박촌역 인천선
781    부평구청  인천선    부평구청역 인천선
782    부평시장  인천선    부평시장역 인천선
783      부평  인천선      부평역 인천선

[784 rows x 3 columns]

In [60]:
len(df2['검색어'])

784

In [62]:
search_list = df2['검색어'].tolist()
search_list

['동묘앞역 1호선',
 '두정역 1호선',
 '온수역 1호선',
 '녹양역 1호선',
 '양주역 1호선',
 '지행역 1호선',
 '탕정역 1호선',
 '쌍용역 1호선',
 '군포역 1호선',
 '화서역 1호선',
 '송내역 1호선',
 '인천역 1호선',
 '대방역 1호선',
 '소사역 1호선',
 '간석역 1호선',
 '동두천중앙역 1호선',
 '소요산역 1호선',
 '전곡역 1호선',
 '개봉역 1호선',
 '세류역 1호선',
 '병점역 1호선',
 '오산대역 1호선',
 '광명역 1호선',
 '평택지제역 1호선',
 '수원역 1호선',
 '성균관대역 1호선',
 '석수역 1호선',
 '금천구청역 1호선',
 '가산디지털단지역 1호선',
 '신창역 1호선',
 '도봉역 1호선',
 '신도림역 1호선',
 '가능역 1호선',
 '청산역 1호선',
 '창동역 1호선',
 '금정역 1호선',
 '동암역 1호선',
 '안양역 1호선',
 '연천역 1호선',
 '온양온천역 1호선',
 '오산역 1호선',
 '서동탄역 1호선',
 '주안역 1호선',
 '덕계역 1호선',
 '동두천역 1호선',
 '방학역 1호선',
 '성환역 1호선',
 '평택역 1호선',
 '구로역 1호선',
 '덕정역 1호선',
 '보산역 1호선',
 '남영역 1호선',
 '명학역 1호선',
 '회기역 1호선',
 '청량리역 1호선',
 '역곡역 1호선',
 '부천역 1호선',
 '부평역 1호선',
 '백운역 1호선',
 '제물포역 1호선',
 '동인천역 1호선',
 '도원역 1호선',
 '중동역 1호선',
 '도화역 1호선',
 '영등포역 1호선',
 '제기동역 1호선',
 '신설동역 1호선',
 '동대문역 1호선',
 '독산역 1호선',
 '종로5가역 1호선',
 '종로3가역 1호선',
 '종각역 1호선',
 '시청역 1호선',
 '서울역 1호선',
 '당정역 1호선',
 '신이문역 1호선',
 '녹천역 1호선',
 '의왕역 1호선',
 '서정리역 1호선',
 '구일역 1호선',
 '신길역 1호선',
 '월계역 1호선',
 '광운대역 1호선',
 '외대앞역 1호선',
 '세마역 1호선',
 '천안역 1호선',
 '노량진역 1호선',
 '용산역 1호선',
 '아산역 1호선',
 '도봉산역 1호선',
 '망월사역 1호선',
 '회룡역 1호선',
 '의정부역 1호선',
 '진위역 1호선',
 '봉명역 1호선',
 '석계역 1호선',
 '관악역 1호선',
 '직산역 1호선',
 '오류동역 1호선',
 '배방역 1호선',
 '부개역 1호선',
 '송탄역 1호선',
 '을지로입구역 2호선',
 '신도림역 2호선',
 '신답역 2호선',
 '뚝섬역 2호선',
 '을지로4가역 2호선',
 '양천구청역 2호선',
 '영등포구청역 2호선',
 '신대방역 2호선',
 '삼성역 2호선',
 '아현역 2호선',
 '종합운동장역 2호선',
 '신림역 2호선',
 '서초역 2호선',
 '교대역 2호선',
 '강남역 2호선',
 '낙성대역 2호선',
 '왕십리역 2호선',
 '홍대입구역 2호선',
 '구로디지털단지역 2호선',
 '방배역 2호선',
 '용두역 2호선',
 '당산역 2호선',
 '건대입구역 2호선',
 '봉천역 2호선',
 '충정로역 2호선',
 '한양대역 2호선',
 '서울대입구역 2호선',
 '성수역 2호선',
 '역삼역 2호선',
 '선릉역 2호선',
 '잠실역 2호선',
 '대림역 2호선',
 '잠실새내역 2호선',
 '을지로3가역 2호선',
 '구의역 2호선',
 '사당역 2호선',
 '신정네거리역 2호선',
 '문래역 2호선',
 '합정역 2호선',
 '용답역 2호선',
 '잠실나루역 2호선',
 '강변역 2호선',
 '상왕십리역 2호선',
 '신당역 2호선',
 '동대문역사문화공원역 2호선',
 '시청역 2호선',
 '까치산역 2호선',
 '도림천역 2호선',
 '신설동역 2호선',
 '이대역 2호선',
 '신촌역 2호선',
 '원흥역 3호선',
 '안국역 3호선',
 '충무로역 3호선',
 '을지로3가역 3호선',
 '매봉역 3호선',
 '동대입구역 3호선',
 '대치역 3호선',
 '학여울역 3호선',
 '삼송역 3호선',
 '화정역 3호선',
 '대화역 3호선',
 '옥수역 3호선',
 '압구정역 3호선',
 '종로3가역 3호선',
 '신사역 3호선',
 '경찰병원역 3호선',
 '잠원역 3호선',
 '대청역 3호선',
 '오금역 3호선',
 '백석역 3호선',
 '주엽역 3호선',
 '원당역 3호선',
 '정발산역 3호선',
 '대곡역 3호선',
 '마두역 3호선',
 '양재역 3호선',
 '도곡역 3호선',
 '고속터미널역 3호선',
 '교대역 3호선',
 '남부터미널역 3호선',
 '일원역 3호선',
 '수서역 3호선',
 '가락시장역 3호선',
 '약수역 3호선',
 '지축역 3호선',
 '구파발역 3호선',
 '연신내역 3호선',
 '불광역 3호선',
 '녹번역 3호선',
 '홍제역 3호선',
 '무악재역 3호선',
 '독립문역 3호선',
 '경복궁역 3호선',
 '금호역 3호선',
 '숙대입구역 4호선',
 '미아역 4호선',
 '신길온천역 4호선',
 '정왕역 4호선',
 '인덕원역 4호선',
 '회현역 4호선',
 '오이도역 4호선',
 '성신여대입구역 4호선',
 '길음역 4호선',
 '쌍문역 4호선',
 '상계역 4호선',
 '당고개역 4호선',
 '별내별가람역 4호선',
 '오남역 4호선',
 '진접역 4호선',
 '수리산역 4호선',
 '총신대입구역 4호선',
 '대공원역 4호선',
 '평촌역 4호선',
 '반월역 4호선',
 '서울역 4호선',
 '사당역 4호선',
 '남태령역 4호선',
 '한성대입구역 4호선',
 '상록수역 4호선',
 '동대문역 4호선',
 '명동역 4호선',
 '노원역 4호선',
 '신용산역 4호선',
 '삼각지역 4호선',
 '충무로역 4호선',
 '금정역 4호선',
 '수유역 4호선',
 '한대앞역 4호선',
 '범계역 4호선',
 '동작역 4호선',
 '과천역 4호선',
 '미아사거리역 4호선',
 '정부과천청사역 4호선',
 '중앙역 4호선',
 '경마공원역 4호선',
 '고잔역 4호선',
 '산본역 4호선',
 '창동역 4호선',
 '동대문역사문화공원역 4호선',
 '이촌역 4호선',
 '대야미역 4호선',
 '혜화역 4호선',
 '초지역 4호선',
 '선바위역 4호선',
 '안산역 4호선',
 '발산역 5호선',
 '애오개역 5호선',
 '광나루역 5호선',
 '우장산역 5호선',
 '신정역 5호선',
 '화곡역 5호선',
 '양평역 5호선',
 '하남풍산역 5호선',
 '답십리역 5호선',
 '아차산역 5호선',
 '김포공항역 5호선',
 '광화문역 5호선',
 '서대문역 5호선',
 '영등포구청역 5호선',
 '오목교역 5호선',
 '목동역 5호선',
 '송정역 5호선',
 '신길역 5호선',
 '개화산역 5호선',
 '충정로역 5호선',
 '공덕역 5호선',
 '마포역 5호선',
 '여의나루역 5호선',
 '여의도역 5호선',
 '영등포시장역 5호선',
 '까치산역 5호선',
 '군자역 5호선',
 '장한평역 5호선',
 '천호역 5호선',
 '길동역 5호선',
 '하남검단산역 5호선',
 '하남시청역 5호선',
 '마천역 5호선',
 '마장역 5호선',
 '왕십리역 5호선',
 '행당역 5호선',
 '거여역 5호선',
 '신금호역 5호선',
 '개롱역 5호선',
 '방이역 5호선',
 '올림픽공원역 5호선',
 '둔촌동역 5호선',
 '오금역 5호선',
 '강일역 5호선',
 '굽은다리역 5호선',
 '고덕역 5호선',
 '명일역 5호선',
 '청구역 5호선',
 '동대문역사문화공원역 5호선',
 '강동역 5호선',
 '상일동역 5호선',
 '미사역 5호선',
 '방화역 5호선',
 '마곡역 5호선',
 '을지로4가역 5호선',
 '종로3가역 5호선',
 '월곡역 6호선',
 '구산역 6호선',
 '새절역 6호선',
 '증산역 6호선',
 '디지털미디어시티역 6호선',
 '월드컵경기장역 6호선',
 '마포구청역 6호선',
 '망원역 6호선',
 '합정역 6호선',
 '상수역 6호선',
 '광흥창역 6호선',
 '대흥역 6호선',
 '공덕역 6호선',
 '효창공원앞역 6호선',
 '삼각지역 6호선',
 '녹사평역 6호선',
 '이태원역 6호선',
 '버티고개역 6호선',
 '약수역 6호선',
 '신당역 6호선',
 '동묘앞역 6호선',
 '창신역 6호선',
 '보문역 6호선',
 '안암역 6호선',
 '고려대역 6호선',
 '상월곡역 6호선',
 '돌곶이역 6호선',
 '석계역 6호선',
 '태릉입구역 6호선',
 '봉화산역 6호선',
 '신내역 6호선',
 '청구역 6호선',
 '한강진역 6호선',
 '화랑대역 6호선',
 '응암역 6호선',
 '역촌역 6호선',
 '불광역 6호선',
 '독바위역 6호선',
 '연신내역 6호선',
 '삼산체육관역 7호선',
 '신중동역 7호선',
 '굴포천역 7호선',
 '부평구청역 7호선',
 '석남역 7호선',
 '춘의역 7호선',
 '부천종합운동장역 7호선',
 '까치울역 7호선',
 '산곡역 7호선',
 '온수역 7호선',
 '천왕역 7호선',
 '건대입구역 7호선',
 '광명사거리역 7호선',
 '가산디지털단지역 7호선',
 '하계역 7호선',
 '남구로역 7호선',
 '신풍역 7호선',
 '보라매역 7호선',
 '신대방삼거리역 7호선',
 '장승배기역 7호선',
 '상도역 7호선',
 '숭실대입구역 7호선',
 '남성역 7호선',
 '이수역 7호선',
 '내방역 7호선',
 '고속터미널역 7호선',
 '논현역 7호선',
 '강남구청역 7호선',
 '청담역 7호선',
 '자양역 7호선',
 '어린이대공원역 7호선',
 '철산역 7호선',
 '학동역 7호선',
 '반포역 7호선',
 '사가정역 7호선',
 '대림역 7호선',
 '용마산역 7호선',
 '군자역 7호선',
 '중곡역 7호선',
 '면목역 7호선',
 '상봉역 7호선',
 '중화역 7호선',
 '먹골역 7호선',
 '공릉역 7호선',
 '태릉입구역 7호선',
 '중계역 7호선',
 '노원역 7호선',
 '마들역 7호선',
 '수락산역 7호선',
 '도봉산역 7호선',
 '장암역 7호선',
 '상동역 7호선',
 '부천시청역 7호선',
 '몽촌토성역 8호선',
 '신흥역 8호선',
 '강동구청역 8호선',
 '단대오거리역 8호선',
 '천호역 8호선',
 '암사역 8호선',
 '남한산성입구역 8호선',
 '산성역 8호선',
 '문정역 8호선',
 '송파역 8호선',
 '가락시장역 8호선',
 '남위례역 8호선',
 '석촌역 8호선',
 '잠실역 8호선',
 '모란역 8호선',
 '복정역 8호선',
 '장지역 8호선',
 '수진역 8호선',
 '개화역 9호선',
 '등촌역 9호선',
 '염창역 9호선',
 '신목동역 9호선',
 '선유도역 9호선',
 '당산역 9호선',
 '국회의사당역 9호선',
 '여의도역 9호선',
 '종합운동장역 9호선',
 '샛강역 9호선',
 '노량진역 9호선',
 '노들역 9호선',
 '흑석역 9호선',
 '동작역 9호선',
 '구반포역 9호선',
 '석촌역 9호선',
 '신반포역 9호선',
 '고속터미널역 9호선',
 '사평역 9호선',
 '언주역 9호선',
 '신논현역 9호선',
 '선정릉역 9호선',
 '석촌고분역 9호선',
 '삼성중앙역 9호선',
 '송파나루역 9호선',
 '삼전역 9호선',
 '한성백제역 9호선',
 '증미역 9호선',
 '김포공항역 9호선',
 '둔촌오륜역 9호선',
 '중앙보훈병원역 9호선',
 '봉은사역 9호선',
 '공항시장역 9호선',
 '신방화역 9호선',
 '마곡나루역 9호선',
 '양천향교역 9호선',
 '가양역 9호선',
 '올림픽공원역 9호선',
 '수서역 GTX-A',
 '성남역 GTX-A',
 '동탄역 GTX-A',
 '세종대왕릉역 경강선',
 '초월역 경강선',
 '경기광주역 경강선',
 '성남역 경강선',
 '삼동역 경강선',
 '이매역 경강선',
 '여주역 경강선',
 '이천역 경강선',
 '판교역 경강선',
 '부발역 경강선',
 '곤지암역 경강선',
 '신둔도예촌역 경강선',
 '도심역 경의선',
 '청량리역 경의선',
 '운길산역 경의선',
 '덕소역 경의선',
 '중랑역 경의선',
 '양정역 경의선',
 '도농역 경의선',
 '임진강역 경의선',
 '금릉역 경의선',
 '신촌역 경의선',
 '양원역 경의선',
 '상봉역 경의선',
 '문산역 경의선',
 '운정역 경의선',
 '야당역 경의선',
 '탄현역 경의선',
 '풍산역 경의선',
 '대곡역 경의선',
 '홍대입구역 경의선',
 '신원역 경의선',
 '지평역 경의선',
 '공덕역 경의선',
 '백마역 경의선',
 '곡산역 경의선',
 '강매역 경의선',
 '디지털미디어시티역 경의선',
 '가좌역 경의선',
 '서강대역 경의선',
 '망우역 경의선',
 '행신역 경의선',
 '일산역 경의선',
 '월롱역 경의선',
 '파주역 경의선',
 '운천역 경의선',
 '한국항공대역 경의선',
 '능곡역 경의선',
 '용문역 경의선',
 '팔당역 경의선',
 '효창공원앞역 경의선',
 '서울역 경의선',
 '구리역 경의선',
 '회기역 경의선',
 '왕십리역 경의선',
 '수색역 경의선',
 '응봉역 경의선',
 '옥수역 경의선',
 '용산역 경의선',
 '원덕역 경의선',
 '한남역 경의선',
 '양수역 경의선',
 '서빙고역 경의선',
 '양평역 경의선',
 '금촌역 경의선',
 '오빈역 경의선',
 '아신역 경의선',
 '국수역 경의선',
 '이촌역 경의선',
 '갈매역 경춘선',
 '가평역 경춘선',
 '김유정역 경춘선',
 '상봉역 경춘선',
 '천마산역 경춘선',
 '평내호평역 경춘선',
 '망우역 경춘선',
 '상천역 경춘선',
 '백양리역 경춘선',
 '청평역 경춘선',
 '광운대역 경춘선',
 '굴봉산역 경춘선',
 '강촌역 경춘선',
 '대성리역 경춘선',
 '사릉역 경춘선',
 '회기역 경춘선',
 '남춘천역 경춘선',
 '중랑역 경춘선',
 '별내역 경춘선',
 '퇴계원역 경춘선',
 '마석역 경춘선',
 '춘천역 경춘선',
 '청량리역 경춘선',
 '신내역 경춘선',
 '금곡역 경춘선',
 '인천공항1터미널역 공항철도',
 '홍대입구역 공항철도',
 '공덕역 공항철도',
 '인천공항2터미널역 공항철도',
 '검암역 공항철도',
 '영종역 공항철도',
 '김포공항역 공항철도',
 '마곡나루역 공항철도',
 '서울역 공항철도',
 '디지털미디어시티역 공항철도',
 '운서역 공항철도',
 '계양역 공항철도',
 '청라국제도시역 공항철도',
 '공항화물청사역 공항철도',
 '구래역 김포도시철도',
 '사우역 김포도시철도',
 '걸포북변역 김포도시철도',
 '운양역 김포도시철도',
 '김포공항역 김포도시철도',
 '고촌역 김포도시철도',
 '장기역 김포도시철도',
 '마산역 김포도시철도',
 '풍무역 김포도시철도',
 '양촌역 김포도시철도',
 '원종역 서해선',
 '선부역 서해선',
 '백마역 서해선',
 '풍산역 서해선',
 '시우역 서해선',
 '부천종합운동장역 서해선',
 '일산역 서해선',
 '김포공항역 서해선',
 '대곡역 서해선',
 '원시역 서해선',
 '달미역 서해선',
 '초지역 서해선',
 '신현역 서해선',
 '신천역 서해선',
 '시흥대야역 서해선',
 '능곡역 서해선',
 '소새울역 서해선',
 '소사역 서해선',
 '곡산역 서해선',
 '시흥시청역 서해선',
 '시흥능곡역 서해선',
 '정왕역 수인분당선',
 '대모산입구역 수인분당선',
 '고잔역 수인분당선',
 '압구정로데오역 수인분당선',
 '안산역 수인분당선',
 '미금역 수인분당선',
 '구성역 수인분당선',
 '야목역 수인분당선',
 '한티역 수인분당선',
 '오리역 수인분당선',
 '죽전역 수인분당선',
 '복정역 수인분당선',
 '왕십리역 수인분당선',
 '선릉역 수인분당선',
 '중앙역 수인분당선',
 '선정릉역 수인분당선',
 '수내역 수인분당선',
 '상갈역 수인분당선',
 '월곶역 수인분당선',
 '인천역 수인분당선',
 '태평역 수인분당선',
 '기흥역 수인분당선',
 '오목천역 수인분당선',
 '호구포역 수인분당선',
 '송도역 수인분당선',
 '신포역 수인분당선',
 '야탑역 수인분당선',
 '남동인더스파크역 수인분당선',
 '인하대역 수인분당선',
 '숭의역 수인분당선',
 '영통역 수인분당선',
 '개포동역 수인분당선',
 '수서역 수인분당선',
 '구룡역 수인분당선',
 '연수역 수인분당선',
 '원인재역 수인분당선',
 '인천논현역 수인분당선',
 '소래포구역 수인분당선',
 '달월역 수인분당선',
 '어천역 수인분당선',
 '고색역 수인분당선',
 '매교역 수인분당선',
 '수원시청역 수인분당선',
 '매탄권선역 수인분당선',
 '망포역 수인분당선',
 '도곡역 수인분당선',
 '청명역 수인분당선',
 '신갈역 수인분당선',
 '보정역 수인분당선',
 '이매역 수인분당선',
 '정자역 수인분당선',
 '서현역 수인분당선',
 '모란역 수인분당선',
 '가천대역 수인분당선',
 '사리역 수인분당선',
 '강남구청역 수인분당선',
 '서울숲역 수인분당선',
 '수원역 수인분당선',
 '청량리역 수인분당선',
 '신길온천역 수인분당선',
 '초지역 수인분당선',
 '한대앞역 수인분당선',
 '오이도역 수인분당선',
 '당곡역 신림선',
 '관악산역 신림선',
 '서울대벤처타운역 신림선',
 '서원역 신림선',
 '신림역 신림선',
 '보라매병원역 신림선',
 '보라매공원역 신림선',
 '보라매역 신림선',
 '서울지방병무청역 신림선',
 '대방역 신림선',
 '샛강역 신림선',
 '수지구청역 신분당선',
 '미금역 신분당선',
 '신사역 신분당선',
 '논현역 신분당선',
 '신논현역 신분당선',
 '강남역 신분당선',
 '양재역 신분당선',
 '양재시민의숲역 신분당선',
 '청계산입구역 신분당선',
 '판교역 신분당선',
 '정자역 신분당선',
 '동천역 신분당선',
 '성복역 신분당선',
 '상현역 신분당선',
 '광교중앙역 신분당선',
 '광교역 신분당선',
 '동백역 용인경전철',
 '보평역 용인경전철',
 '전대.에버랜드역 용인경전철',
 '둔전역 용인경전철',
 '어정역 용인경전철',
 '지석역 용인경전철',
 '기흥역 용인경전철',
 '고진역 용인경전철',
 '용인중앙시장역 용인경전철',
 '김량장역 용인경전철',
 '명지대역 용인경전철',
 '시청.용인대역 용인경전철',
 '삼가역 용인경전철',
 '초당역 용인경전철',
 '강남대역 용인경전철',
 '북한산우이역 우이신설경전철',
 '4.19민주묘지역 우이신설경전철',
 '가오리역 우이신설경전철',
 '화계역 우이신설경전철',
 '삼양역 우이신설경전철',
 '삼양사거리역 우이신설경전철',
 '솔샘역 우이신설경전철',
 '신설동역 우이신설경전철',
 '보문역 우이신설경전철',
 '성신여대입구역 우이신설경전철',
 '정릉역 우이신설경전철',
 '북한산보국문역 우이신설경전철',
 '솔밭공원역 우이신설경전철',
 '경기도청북부청사역 의정부경전철',
 '발곡역 의정부경전철',
 '회룡역 의정부경전철',
 '범골역 의정부경전철',
 '경전철의정부역 의정부경전철',
 '의정부시청역 의정부경전철',
 '의정부중앙역 의정부경전철',
 '동오역 의정부경전철',
 '새말역 의정부경전철',
 '효자역 의정부경전철',
 '곤제역 의정부경전철',
 '어룡역 의정부경전철',
 '송산역 의정부경전철',
 '탑석역 의정부경전철',
 '흥선역 의정부경전철',
 '검단사거리역 인천2호선',
 '서부여성회관역 인천2호선',
 '마전역 인천2호선',
 '석남역 인천2호선',
 '가정역 인천2호선',
 '아시아드경기장역 인천2호선',
 '검암역 인천2호선',
 '독정역 인천2호선',
 '완정역 인천2호선',
 '검바위역 인천2호선',
 '가정중앙시장역 인천2호선',
 '인천가좌역 인천2호선',
 '가재울역 인천2호선',
 '주안국가산단역 인천2호선',
 '시민공원역 인천2호선',
 '남동구청역 인천2호선',
 '인천대공원역 인천2호선',
 '만수역 인천2호선',
 '주안역 인천2호선',
 '서구청역 인천2호선',
 '왕길역 인천2호선',
 '운연역 인천2호선',
 '검단오류역 인천2호선',
 '모래내시장역 인천2호선',
 '석천사거리역 인천2호선',
 '인천시청역 인천2호선',
 '석바위시장역 인천2호선',
 '인천대입구역 인천선',
 '센트럴파크역 인천선',
 '신연수역 인천선',
 '임학역 인천선',
 '국제업무지구역 인천선',
 '테크노파크역 인천선',
 '동춘역 인천선',
 '동수역 인천선',
 '캠퍼스타운역 인천선',
 '간석오거리역 인천선',
 '예술회관역 인천선',
 '계양역 인천선',
 '귤현역 인천선',
 '인천터미널역 인천선',
 '원인재역 인천선',
 '동막역 인천선',
 '송도달빛축제공원역 인천선',
 '부평삼거리역 인천선',
 '계산역 인천선',
 '인천시청역 인천선',
 '문학경기장역 인천선',
 '선학역 인천선',
 '경인교대입구역 인천선',
 '작전역 인천선',
 '갈산역 인천선',
 '지식정보단지역 인천선',
 '박촌역 인천선',
 '부평구청역 인천선',
 '부평시장역 인천선',
 '부평역 인천선']

In [65]:
import requests
from urllib.parse import urlparse

# 주소 검색 함수 정의
def address_search(address):
    url = "https://dapi.kakao.com/v2/local/search/keyword.json?&query=" + address + "&category_group_code=SW8"
    result = requests.get(urlparse(url).geturl(),
                          headers={"Authorization":"KakaoAK 5b16219c37dbd9eb4fc13280d64b16dd"})
    json_obj = result.json()
    global val   # 전역 변수를 지역 범위에서 사용하고 싶을 경우
    for document in json_obj['documents']:
        # 값이 NoneType 일 경우의 오류 방지
        try:
            val = [document['road_address_name']]
        except:
            val = [0]
    return val

In [66]:
address_search('서울역 공항철도')   # 서울역 경의선 제외 모두 이상 -> 추후 변경 예정

['서울 강서구 마곡중앙로 지하 135']

In [67]:
# 주소 검색 함수 반복 적용
list1 = []
for i in search_list:
    list1.append(address_search(i))

In [68]:
data2 = pd.DataFrame(list1, columns=['주소'])
data2.head()

                   주소
0       서울 종로구 종로 359
1  충남 천안시 서북구 두정로 289
2      서울 구로구 부일로 872
3     경기 의정부시 평화로 757
4      경기 양주시 덕계로 126

In [69]:
data3 = pd.concat([df2, data2], axis=1)
print(data3.shape)
data3.head()

(784, 4)

  전철역명   호선       검색어                  주소
0  동묘앞  1호선  동묘앞역 1호선       서울 종로구 종로 359
1   두정  1호선   두정역 1호선  충남 천안시 서북구 두정로 289
2   온수  1호선   온수역 1호선      서울 구로구 부일로 872
3   녹양  1호선   녹양역 1호선     경기 의정부시 평화로 757
4   양주  1호선   양주역 1호선      경기 양주시 덕계로 126

In [70]:
# 주소에 서울이 포함되지 않은 것만 모으기
data4 = data3[data3['주소'].str.contains('서울') == False]
print(data4.shape)
data4.head()

(382, 4)

  전철역명   호선      검색어                    주소
1   두정  1호선  두정역 1호선    충남 천안시 서북구 두정로 289
3   녹양  1호선  녹양역 1호선       경기 의정부시 평화로 757
4   양주  1호선  양주역 1호선        경기 양주시 덕계로 126
5   지행  1호선  지행역 1호선      경기 동두천시 평화로 2285
6   탕정  1호선  탕정역 1호선  충남 아산시 탕정면 한들물빛6로 11

In [71]:
data4['검색어'].unique()

array(['두정역 1호선', '녹양역 1호선', '양주역 1호선', '지행역 1호선', '탕정역 1호선', '쌍용역 1호선',
       '군포역 1호선', '화서역 1호선', '송내역 1호선', '인천역 1호선', '소사역 1호선', '간석역 1호선',
       '동두천중앙역 1호선', '소요산역 1호선', '전곡역 1호선', '세류역 1호선', '병점역 1호선',
       '오산대역 1호선', '광명역 1호선', '평택지제역 1호선', '수원역 1호선', '성균관대역 1호선',
       '석수역 1호선', '신창역 1호선', '가능역 1호선', '청산역 1호선', '금정역 1호선', '동암역 1호선',
       '안양역 1호선', '연천역 1호선', '온양온천역 1호선', '오산역 1호선', '서동탄역 1호선',
       '주안역 1호선', '덕계역 1호선', '동두천역 1호선', '성환역 1호선', '평택역 1호선', '덕정역 1호선',
       '보산역 1호선', '명학역 1호선', '역곡역 1호선', '부천역 1호선', '부평역 1호선', '백운역 1호선',
       '제물포역 1호선', '동인천역 1호선', '도원역 1호선', '중동역 1호선', '도화역 1호선', '시청역 1호선',
       '당정역 1호선', '의왕역 1호선', '서정리역 1호선', '세마역 1호선', '천안역 1호선', '용산역 1호선',
       '아산역 1호선', '망월사역 1호선', '회룡역 1호선', '의정부역 1호선', '진위역 1호선', '봉명역 1호선',
       '관악역 1호선', '직산역 1호선', '오류동역 1호선', '배방역 1호선', '부개역 1호선', '송탄역 1호선',
       '시청역 2호선', '원흥역 3호선', '충무로역 3호선', '삼송역 3호선', '화정역 3호선', '대화역 3호선',
       '백석역 3호선', '주엽역 3호선', '원당역 3호선', '정발산역 3호선', '대곡역 3호선', '마두역 3호선',
       '지축역 3호선', '신길온천역 4호선', '정왕역 4호선', '인덕원역 4호선', '오이도역 4호선',
       '별내별가람역 4호선', '오남역 4호선', '진접역 4호선', '수리산역 4호선', '대공원역 4호선',
       '평촌역 4호선', '반월역 4호선', '상록수역 4호선', '충무로역 4호선', '금정역 4호선',
       '한대앞역 4호선', '범계역 4호선', '과천역 4호선', '정부과천청사역 4호선', '중앙역 4호선',
       '경마공원역 4호선', '고잔역 4호선', '산본역 4호선', '대야미역 4호선', '초지역 4호선',
       '선바위역 4호선', '안산역 4호선', '하남풍산역 5호선', '하남검단산역 5호선', '하남시청역 5호선',
       '미사역 5호선', '삼산체육관역 7호선', '신중동역 7호선', '굴포천역 7호선', '부평구청역 7호선',
       '석남역 7호선', '춘의역 7호선', '부천종합운동장역 7호선', '까치울역 7호선', '산곡역 7호선',
       '광명사거리역 7호선', '철산역 7호선', '장암역 7호선', '상동역 7호선', '부천시청역 7호선',
       '신흥역 8호선', '단대오거리역 8호선', '남한산성입구역 8호선', '산성역 8호선', '남위례역 8호선',
       '모란역 8호선', '수진역 8호선', '성남역 GTX-A', '동탄역 GTX-A', '세종대왕릉역 경강선',
       '초월역 경강선', '경기광주역 경강선', '성남역 경강선', '삼동역 경강선', '이매역 경강선', '여주역 경강선',
       '이천역 경강선', '판교역 경강선', '부발역 경강선', '곤지암역 경강선', '신둔도예촌역 경강선',
       '도심역 경의선', '운길산역 경의선', '덕소역 경의선', '양정역 경의선', '도농역 경의선', '임진강역 경의선',
       '금릉역 경의선', '문산역 경의선', '운정역 경의선', '야당역 경의선', '탄현역 경의선', '풍산역 경의선',
       '대곡역 경의선', '신원역 경의선', '지평역 경의선', '백마역 경의선', '곡산역 경의선', '강매역 경의선',
       '행신역 경의선', '일산역 경의선', '월롱역 경의선', '파주역 경의선', '운천역 경의선',
       '한국항공대역 경의선', '능곡역 경의선', '용문역 경의선', '팔당역 경의선', '구리역 경의선',
       '원덕역 경의선', '양수역 경의선', '양평역 경의선', '금촌역 경의선', '오빈역 경의선', '아신역 경의선',
       '국수역 경의선', '갈매역 경춘선', '가평역 경춘선', '김유정역 경춘선', '천마산역 경춘선',
       '평내호평역 경춘선', '상천역 경춘선', '백양리역 경춘선', '청평역 경춘선', '굴봉산역 경춘선',
       '강촌역 경춘선', '대성리역 경춘선', '사릉역 경춘선', '남춘천역 경춘선', '별내역 경춘선',
       '퇴계원역 경춘선', '마석역 경춘선', '춘천역 경춘선', '금곡역 경춘선', '인천공항1터미널역 공항철도',
       '인천공항2터미널역 공항철도', '검암역 공항철도', '영종역 공항철도', '운서역 공항철도', '계양역 공항철도',
       '청라국제도시역 공항철도', '공항화물청사역 공항철도', '구래역 김포도시철도', '사우역 김포도시철도',
       '걸포북변역 김포도시철도', '운양역 김포도시철도', '고촌역 김포도시철도', '장기역 김포도시철도',
       '마산역 김포도시철도', '풍무역 김포도시철도', '양촌역 김포도시철도', '원종역 서해선', '선부역 서해선',
       '백마역 서해선', '풍산역 서해선', '시우역 서해선', '부천종합운동장역 서해선', '일산역 서해선',
       '대곡역 서해선', '원시역 서해선', '달미역 서해선', '초지역 서해선', '신현역 서해선', '신천역 서해선',
       '시흥대야역 서해선', '능곡역 서해선', '소새울역 서해선', '소사역 서해선', '곡산역 서해선',
       '시흥시청역 서해선', '시흥능곡역 서해선', '정왕역 수인분당선', '고잔역 수인분당선', '안산역 수인분당선',
       '미금역 수인분당선', '구성역 수인분당선', '야목역 수인분당선', '오리역 수인분당선', '죽전역 수인분당선',
       '중앙역 수인분당선', '수내역 수인분당선', '상갈역 수인분당선', '월곶역 수인분당선', '인천역 수인분당선',
       '태평역 수인분당선', '기흥역 수인분당선', '오목천역 수인분당선', '호구포역 수인분당선', '송도역 수인분당선',
       '신포역 수인분당선', '야탑역 수인분당선', '남동인더스파크역 수인분당선', '인하대역 수인분당선',
       '숭의역 수인분당선', '영통역 수인분당선', '연수역 수인분당선', '원인재역 수인분당선', '인천논현역 수인분당선',
       '소래포구역 수인분당선', '달월역 수인분당선', '어천역 수인분당선', '고색역 수인분당선', '매교역 수인분당선',
       '수원시청역 수인분당선', '매탄권선역 수인분당선', '망포역 수인분당선', '청명역 수인분당선',
       '신갈역 수인분당선', '보정역 수인분당선', '이매역 수인분당선', '정자역 수인분당선', '서현역 수인분당선',
       '모란역 수인분당선', '가천대역 수인분당선', '사리역 수인분당선', '수원역 수인분당선', '신길온천역 수인분당선',
       '초지역 수인분당선', '한대앞역 수인분당선', '오이도역 수인분당선', '수지구청역 신분당선', '미금역 신분당선',
       '판교역 신분당선', '정자역 신분당선', '동천역 신분당선', '성복역 신분당선', '상현역 신분당선',
       '광교중앙역 신분당선', '광교역 신분당선', '동백역 용인경전철', '보평역 용인경전철',
       '전대.에버랜드역 용인경전철', '둔전역 용인경전철', '어정역 용인경전철', '지석역 용인경전철',
       '기흥역 용인경전철', '고진역 용인경전철', '용인중앙시장역 용인경전철', '김량장역 용인경전철',
       '명지대역 용인경전철', '시청.용인대역 용인경전철', '삼가역 용인경전철', '초당역 용인경전철',
       '강남대역 용인경전철', '경기도청북부청사역 의정부경전철', '발곡역 의정부경전철', '회룡역 의정부경전철',
       '범골역 의정부경전철', '경전철의정부역 의정부경전철', '의정부시청역 의정부경전철', '의정부중앙역 의정부경전철',
       '동오역 의정부경전철', '새말역 의정부경전철', '효자역 의정부경전철', '곤제역 의정부경전철',
       '어룡역 의정부경전철', '송산역 의정부경전철', '탑석역 의정부경전철', '흥선역 의정부경전철',
       '검단사거리역 인천2호선', '서부여성회관역 인천2호선', '마전역 인천2호선', '석남역 인천2호선',
       '가정역 인천2호선', '아시아드경기장역 인천2호선', '검암역 인천2호선', '독정역 인천2호선',
       '완정역 인천2호선', '검바위역 인천2호선', '가정중앙시장역 인천2호선', '인천가좌역 인천2호선',
       '가재울역 인천2호선', '주안국가산단역 인천2호선', '시민공원역 인천2호선', '남동구청역 인천2호선',
       '인천대공원역 인천2호선', '만수역 인천2호선', '주안역 인천2호선', '서구청역 인천2호선',
       '왕길역 인천2호선', '운연역 인천2호선', '검단오류역 인천2호선', '모래내시장역 인천2호선',
       '석천사거리역 인천2호선', '인천시청역 인천2호선', '석바위시장역 인천2호선', '인천대입구역 인천선',
       '센트럴파크역 인천선', '신연수역 인천선', '임학역 인천선', '국제업무지구역 인천선', '테크노파크역 인천선',
       '동춘역 인천선', '동수역 인천선', '캠퍼스타운역 인천선', '간석오거리역 인천선', '예술회관역 인천선',
       '계양역 인천선', '귤현역 인천선', '인천터미널역 인천선', '원인재역 인천선', '동막역 인천선',
       '송도달빛축제공원역 인천선', '부평삼거리역 인천선', '계산역 인천선', '인천시청역 인천선',
       '문학경기장역 인천선', '선학역 인천선', '경인교대입구역 인천선', '작전역 인천선', '갈산역 인천선',
       '지식정보단지역 인천선', '박촌역 인천선', '부평구청역 인천선', '부평시장역 인천선', '부평역 인천선'],
      dtype=object)

In [72]:
data3[data3['검색어']=='용산역 1호선']

   전철역명   호선      검색어            주소
87   용산  1호선  용산역 1호선  광주 동구 녹동길 45

In [73]:
data3.loc[87, '주소'] = '서울 용산구 한강대로23길 55'

In [75]:
data3[data3['검색어']=='오류동역 1호선']

   전철역명   호선       검색어                주소
98  오류동  1호선  오류동역 1호선  대전 중구 계룡로 지하 793

In [76]:
data3.loc[98, '주소'] = '서울 구로구 경인로20길 13'

In [81]:
data3[data3['검색어']=='시청역 2호선']

    전철역명   호선      검색어                주소
147   시청  2호선  시청역 2호선  인천 남동구 구월로 지하 99

In [82]:
data3.loc[147, '주소'] = '서울 중구 서소문로 지하 127'

In [84]:
data3[data3['검색어']=='시청역 1호선']

   전철역명   호선      검색어                주소
72   시청  1호선  시청역 1호선  대전 서구 둔산중로 지하 55

In [85]:
data3.loc[72, '주소'] = '서울 중구 세종대로 지하 101'

In [86]:
data3[data3['검색어']=='서울역 공항철도']

    전철역명    호선       검색어                   주소
557   서울  공항철도  서울역 공항철도  서울 강서구 마곡중앙로 지하 135

In [87]:
data3.loc[557, '주소'] = '서울 용산구 청파로 378'

In [88]:
data3[data3['검색어']=='서울역 4호선']

    전철역명   호선      검색어                주소
217   서울  4호선  서울역 4호선  서울 성북구 삼선교로 지하 1

In [89]:
data3.loc[217, '주소'] = '서울 용산구 한강대로 지하 392'

In [90]:
data3[data3['검색어']=='서울역 1호선']

   전철역명   호선      검색어                주소
73   서울  1호선  서울역 1호선  서울 영등포구 영등포로 327

In [91]:
data3.loc[73, '주소'] = '서울 중구 세종대로 지하 2'

In [92]:
# 주소 수정한 data3에서, 주소에 서울을 포함하고 있지 않은 지하철 역 추리기
data5 = data3[data3['주소'].str.contains('서울') == False]
print(data5.shape)
data5.head()

(378, 4)

  전철역명   호선      검색어                    주소
1   두정  1호선  두정역 1호선    충남 천안시 서북구 두정로 289
3   녹양  1호선  녹양역 1호선       경기 의정부시 평화로 757
4   양주  1호선  양주역 1호선        경기 양주시 덕계로 126
5   지행  1호선  지행역 1호선      경기 동두천시 평화로 2285
6   탕정  1호선  탕정역 1호선  충남 아산시 탕정면 한들물빛6로 11

In [93]:
# 주소 수정한 data3에서, 주소에 서울을 포함하고 있지 않은 지하철 역 열 제거
data6 = data3.drop(data5.index, axis=0).reset_index(drop=True)
print(data6.shape)
data6.head()

(406, 4)

   전철역명   호선        검색어                 주소
0   동묘앞  1호선   동묘앞역 1호선      서울 종로구 종로 359
1    온수  1호선    온수역 1호선     서울 구로구 부일로 872
2    대방  1호선    대방역 1호선  서울 영등포구 여의대방로 300
3    개봉  1호선    개봉역 1호선   서울 구로구 경인로40길 47
4  금천구청  1호선  금천구청역 1호선  서울 금천구 시흥대로63길 91

In [95]:
data6['검색어'].unique()

array(['동묘앞역 1호선', '온수역 1호선', '대방역 1호선', '개봉역 1호선', '금천구청역 1호선',
       '가산디지털단지역 1호선', '도봉역 1호선', '신도림역 1호선', '창동역 1호선', '방학역 1호선',
       '구로역 1호선', '남영역 1호선', '회기역 1호선', '청량리역 1호선', '영등포역 1호선',
       '제기동역 1호선', '신설동역 1호선', '동대문역 1호선', '독산역 1호선', '종로5가역 1호선',
       '종로3가역 1호선', '종각역 1호선', '시청역 1호선', '서울역 1호선', '신이문역 1호선',
       '녹천역 1호선', '구일역 1호선', '신길역 1호선', '월계역 1호선', '광운대역 1호선', '외대앞역 1호선',
       '노량진역 1호선', '용산역 1호선', '도봉산역 1호선', '석계역 1호선', '오류동역 1호선',
       '을지로입구역 2호선', '신도림역 2호선', '신답역 2호선', '뚝섬역 2호선', '을지로4가역 2호선',
       '양천구청역 2호선', '영등포구청역 2호선', '신대방역 2호선', '삼성역 2호선', '아현역 2호선',
       '종합운동장역 2호선', '신림역 2호선', '서초역 2호선', '교대역 2호선', '강남역 2호선',
       '낙성대역 2호선', '왕십리역 2호선', '홍대입구역 2호선', '구로디지털단지역 2호선', '방배역 2호선',
       '용두역 2호선', '당산역 2호선', '건대입구역 2호선', '봉천역 2호선', '충정로역 2호선',
       '한양대역 2호선', '서울대입구역 2호선', '성수역 2호선', '역삼역 2호선', '선릉역 2호선',
       '잠실역 2호선', '대림역 2호선', '잠실새내역 2호선', '을지로3가역 2호선', '구의역 2호선',
       '사당역 2호선', '신정네거리역 2호선', '문래역 2호선', '합정역 2호선', '용답역 2호선',
       '잠실나루역 2호선', '강변역 2호선', '상왕십리역 2호선', '신당역 2호선', '동대문역사문화공원역 2호선',
       '시청역 2호선', '까치산역 2호선', '도림천역 2호선', '신설동역 2호선', '이대역 2호선',
       '신촌역 2호선', '안국역 3호선', '을지로3가역 3호선', '매봉역 3호선', '동대입구역 3호선',
       '대치역 3호선', '학여울역 3호선', '옥수역 3호선', '압구정역 3호선', '종로3가역 3호선',
       '신사역 3호선', '경찰병원역 3호선', '잠원역 3호선', '대청역 3호선', '오금역 3호선', '양재역 3호선',
       '도곡역 3호선', '고속터미널역 3호선', '교대역 3호선', '남부터미널역 3호선', '일원역 3호선',
       '수서역 3호선', '가락시장역 3호선', '약수역 3호선', '구파발역 3호선', '연신내역 3호선',
       '불광역 3호선', '녹번역 3호선', '홍제역 3호선', '무악재역 3호선', '독립문역 3호선',
       '경복궁역 3호선', '금호역 3호선', '숙대입구역 4호선', '미아역 4호선', '회현역 4호선',
       '성신여대입구역 4호선', '길음역 4호선', '쌍문역 4호선', '상계역 4호선', '당고개역 4호선',
       '총신대입구역 4호선', '서울역 4호선', '사당역 4호선', '남태령역 4호선', '한성대입구역 4호선',
       '동대문역 4호선', '명동역 4호선', '노원역 4호선', '신용산역 4호선', '삼각지역 4호선',
       '수유역 4호선', '동작역 4호선', '미아사거리역 4호선', '창동역 4호선', '동대문역사문화공원역 4호선',
       '이촌역 4호선', '혜화역 4호선', '발산역 5호선', '애오개역 5호선', '광나루역 5호선',
       '우장산역 5호선', '신정역 5호선', '화곡역 5호선', '양평역 5호선', '답십리역 5호선',
       '아차산역 5호선', '김포공항역 5호선', '광화문역 5호선', '서대문역 5호선', '영등포구청역 5호선',
       '오목교역 5호선', '목동역 5호선', '송정역 5호선', '신길역 5호선', '개화산역 5호선',
       '충정로역 5호선', '공덕역 5호선', '마포역 5호선', '여의나루역 5호선', '여의도역 5호선',
       '영등포시장역 5호선', '까치산역 5호선', '군자역 5호선', '장한평역 5호선', '천호역 5호선',
       '길동역 5호선', '마천역 5호선', '마장역 5호선', '왕십리역 5호선', '행당역 5호선', '거여역 5호선',
       '신금호역 5호선', '개롱역 5호선', '방이역 5호선', '올림픽공원역 5호선', '둔촌동역 5호선',
       '오금역 5호선', '강일역 5호선', '굽은다리역 5호선', '고덕역 5호선', '명일역 5호선', '청구역 5호선',
       '동대문역사문화공원역 5호선', '강동역 5호선', '상일동역 5호선', '방화역 5호선', '마곡역 5호선',
       '을지로4가역 5호선', '종로3가역 5호선', '월곡역 6호선', '구산역 6호선', '새절역 6호선',
       '증산역 6호선', '디지털미디어시티역 6호선', '월드컵경기장역 6호선', '마포구청역 6호선', '망원역 6호선',
       '합정역 6호선', '상수역 6호선', '광흥창역 6호선', '대흥역 6호선', '공덕역 6호선',
       '효창공원앞역 6호선', '삼각지역 6호선', '녹사평역 6호선', '이태원역 6호선', '버티고개역 6호선',
       '약수역 6호선', '신당역 6호선', '동묘앞역 6호선', '창신역 6호선', '보문역 6호선', '안암역 6호선',
       '고려대역 6호선', '상월곡역 6호선', '돌곶이역 6호선', '석계역 6호선', '태릉입구역 6호선',
       '봉화산역 6호선', '신내역 6호선', '청구역 6호선', '한강진역 6호선', '화랑대역 6호선',
       '응암역 6호선', '역촌역 6호선', '불광역 6호선', '독바위역 6호선', '연신내역 6호선', '온수역 7호선',
       '천왕역 7호선', '건대입구역 7호선', '가산디지털단지역 7호선', '하계역 7호선', '남구로역 7호선',
       '신풍역 7호선', '보라매역 7호선', '신대방삼거리역 7호선', '장승배기역 7호선', '상도역 7호선',
       '숭실대입구역 7호선', '남성역 7호선', '이수역 7호선', '내방역 7호선', '고속터미널역 7호선',
       '논현역 7호선', '강남구청역 7호선', '청담역 7호선', '자양역 7호선', '어린이대공원역 7호선',
       '학동역 7호선', '반포역 7호선', '사가정역 7호선', '대림역 7호선', '용마산역 7호선', '군자역 7호선',
       '중곡역 7호선', '면목역 7호선', '상봉역 7호선', '중화역 7호선', '먹골역 7호선', '공릉역 7호선',
       '태릉입구역 7호선', '중계역 7호선', '노원역 7호선', '마들역 7호선', '수락산역 7호선',
       '도봉산역 7호선', '몽촌토성역 8호선', '강동구청역 8호선', '천호역 8호선', '암사역 8호선',
       '문정역 8호선', '송파역 8호선', '가락시장역 8호선', '석촌역 8호선', '잠실역 8호선', '복정역 8호선',
       '장지역 8호선', '개화역 9호선', '등촌역 9호선', '염창역 9호선', '신목동역 9호선', '선유도역 9호선',
       '당산역 9호선', '국회의사당역 9호선', '여의도역 9호선', '종합운동장역 9호선', '샛강역 9호선',
       '노량진역 9호선', '노들역 9호선', '흑석역 9호선', '동작역 9호선', '구반포역 9호선', '석촌역 9호선',
       '신반포역 9호선', '고속터미널역 9호선', '사평역 9호선', '언주역 9호선', '신논현역 9호선',
       '선정릉역 9호선', '석촌고분역 9호선', '삼성중앙역 9호선', '송파나루역 9호선', '삼전역 9호선',
       '한성백제역 9호선', '증미역 9호선', '김포공항역 9호선', '둔촌오륜역 9호선', '중앙보훈병원역 9호선',
       '봉은사역 9호선', '공항시장역 9호선', '신방화역 9호선', '마곡나루역 9호선', '양천향교역 9호선',
       '가양역 9호선', '올림픽공원역 9호선', '수서역 GTX-A', '청량리역 경의선', '중랑역 경의선',
       '신촌역 경의선', '양원역 경의선', '상봉역 경의선', '홍대입구역 경의선', '공덕역 경의선',
       '디지털미디어시티역 경의선', '가좌역 경의선', '서강대역 경의선', '망우역 경의선', '효창공원앞역 경의선',
       '서울역 경의선', '회기역 경의선', '왕십리역 경의선', '수색역 경의선', '응봉역 경의선', '옥수역 경의선',
       '용산역 경의선', '한남역 경의선', '서빙고역 경의선', '이촌역 경의선', '상봉역 경춘선', '망우역 경춘선',
       '광운대역 경춘선', '회기역 경춘선', '중랑역 경춘선', '청량리역 경춘선', '신내역 경춘선',
       '홍대입구역 공항철도', '공덕역 공항철도', '김포공항역 공항철도', '마곡나루역 공항철도', '서울역 공항철도',
       '디지털미디어시티역 공항철도', '김포공항역 김포도시철도', '김포공항역 서해선', '대모산입구역 수인분당선',
       '압구정로데오역 수인분당선', '한티역 수인분당선', '복정역 수인분당선', '왕십리역 수인분당선',
       '선릉역 수인분당선', '선정릉역 수인분당선', '개포동역 수인분당선', '수서역 수인분당선', '구룡역 수인분당선',
       '도곡역 수인분당선', '강남구청역 수인분당선', '서울숲역 수인분당선', '청량리역 수인분당선', '당곡역 신림선',
       '관악산역 신림선', '서울대벤처타운역 신림선', '서원역 신림선', '신림역 신림선', '보라매병원역 신림선',
       '보라매공원역 신림선', '보라매역 신림선', '서울지방병무청역 신림선', '대방역 신림선', '샛강역 신림선',
       '신사역 신분당선', '논현역 신분당선', '신논현역 신분당선', '강남역 신분당선', '양재역 신분당선',
       '양재시민의숲역 신분당선', '청계산입구역 신분당선', '북한산우이역 우이신설경전철',
       '4.19민주묘지역 우이신설경전철', '가오리역 우이신설경전철', '화계역 우이신설경전철', '삼양역 우이신설경전철',
       '삼양사거리역 우이신설경전철', '솔샘역 우이신설경전철', '신설동역 우이신설경전철', '보문역 우이신설경전철',
       '성신여대입구역 우이신설경전철', '정릉역 우이신설경전철', '북한산보국문역 우이신설경전철',
       '솔밭공원역 우이신설경전철'], dtype=object)